

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: maroon;
    text-align: center;
}

h2 {
    color: #333;
}

p {
    color: #000;
    font-size: 14px;
}

a {
    color: blue;
}

img {
    width: 300px;
    height: auto;
}
